<!-- Header réutilisable pour toutes les pages publiques -->
<header class="site-header">
  <!-- Logo -->
  <div class="logo">
    <h1>Boutique Informatique</h1>
  </div>

  <!-- Menu horizontal -->
  <nav class="menu">
    <ul>
      <li><a href="../pages/accueil.html" id="link-accueil">Accueil</a></li>
      <li><a href="#produits" id="link-produits">Produits</a></li>
      <li><a href="../pages/about.html">À propos</a></li>
      <li><a href="../pages/contact.html">Contact</a></li>
      <li><a href="../pages/login.html" class="btn-login">Se connecter</a></li>
      
    </ul>
  </nav>
</header>
