.site-footer {
  background-color: #3b82f6; /* bleu principal */
  color: white;
  padding: 20px 40px;
  text-align: center;
  margin-top: 50px;
}

.site-footer .footer-content .social a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
  font-weight: bold;
}

.site-footer .footer-content .social a:hover {
  text-decoration: underline;
}
